#wrapper {
    opacity: 0;
}

div.modality {
    display:none;
}

.footer-courtesy a {
    color: #777 !important;
}

a.online-link.disabled {
    color: #777 !important;
}

#largeImage img, #largeImage video, #largeImage object, #largeImage .video-link {
    padding: 0 !important;
    border: 0 !important;
}

#offline-workflow-questions-pane strong {
    font-weight: bold !important;
    color: white;
}

#navTab .container .questions {
    height: 95% !important;
}