#wrapper {
    opacity: 0;
}

div.modality {
    display:none;
}

.footer-courtesy a {
    color: #777 !important;
}

a.online-link.disabled {
    color: #777 !important;
}



/*
 * Dixon CSS
 */

div.findings.frame.iframeable ul {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 5px;
}

li ul li {
    margin-left: -15px;
}

div.findings.frame.iframeable ul li {
    margin-left: -15px;
    margin-right: -12px;
    padding-bottom: 0px;
}

div.findings.frame.iframeable p {
    margin-bottom: -10px;
    margin-top: -5px;
    padding-top: 10px;
    margin-right: -12px;
}

ul li ol {
    font-size: 25px;
    list-style-type: circle
}


div.findings.frame.iframeable p strong {
    font-size: 26px;
    color: #f8ff30;
}

div.findings.frame.iframeable p em {
    font-size: 26px;
    font-style: normal;
    color: #52aeff;
}


div.findings.frame.iframeable ol {
    font-size: 25px;
    margin-left: 4px;
}

div.findings.frame.iframeable p {
    margin-left: -5px;
}

div.findings.frame.iframeable ol li {
    margin-left: -15px;
    margin-right: -12px;
    margin-bottom: 8px;
}

ul li strong {
    font-weight: normal;
    font-size: 22px;
    color: #f8ff30;
}

ul li em {
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    color: #52aeff;
}